<%Select Case ClassID
Case 1,2,3,4,5
%>
<table width="215" border="0" cellpadding="0" cellspacing="0" bgcolor="#226AAC">
  <tr>
    <td><img src="../E_img/xglm.jpg" alt="相关栏目" width="215" height="39"></td>
  </tr>
  <tr>
    <td align="center"><table width="75%" border="0" cellspacing="0" cellpadding="0">
        <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=1 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=1">新闻资讯</a></td>
  </tr>
    <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=2 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=2">院内动态</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=3 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=3">院内公告</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    <tr>
    <td height="25" <%If ClassID=4 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=4">院务公开</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    <tr>
    <td height="25" <%If ClassID=5 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=5">院报专栏</a></td>
  </tr>
          <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="215" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<%Case 6,7,8,9%>
<table width="215" border="0" cellpadding="0" cellspacing="0" bgcolor="#226AAC">
  <tr>
    <td><img src="../E_img/xglm.jpg" alt="相关栏目" width="215" height="39"></td>
  </tr>
  <tr>
    <td align="center"><table width="75%" border="0" cellspacing="0" cellpadding="0">
        <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=6 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=6">内科系统</a></td>
  </tr>
    <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=7 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=7">外科系统</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=8 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=8">医技科室</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    <tr>
    <td height="25" <%If ClassID=9 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=9">精神卫生中心</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="215" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<%Case 10,11,12,13,14,15,16,17%>
<table width="215" border="0" cellpadding="0" cellspacing="0" bgcolor="#226AAC">
  <tr>
    <td><img src="../E_img/xglm.jpg" alt="相关栏目" width="215" height="39"></td>
  </tr>
  <tr>
    <td align="center"><table width="75%" border="0" cellspacing="0" cellpadding="0">
        <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=10 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=10">党群工作</a></td>
  </tr>
    <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=11 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=11">党建工作</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=12 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=12">精神文明</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    <tr>
    <td height="25" <%If ClassID=13 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=13">医德医风</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    <tr>
    <td height="25" <%If ClassID=14 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=14">廉政建设</a></td>
  </tr>
    <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=15 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=15">工会园地</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=16 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=16">青年之家</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    <tr>
    <td height="25" <%If ClassID=17 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=17">妇女工作</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="215" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<%Case 18,19%>
<table width="215" border="0" cellpadding="0" cellspacing="0" bgcolor="#226AAC">
  <tr>
    <td><img src="../E_img/xglm.jpg" alt="相关栏目" width="215" height="39"></td>
  </tr>
  <tr>
    <td align="center"><table width="75%" border="0" cellspacing="0" cellpadding="0">
        <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=18 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=18">护理教育</a></td>
  </tr>
    <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=19 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=19">日常管理</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>

    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="215" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<%Case 20,21,22,23%>
<table width="215" border="0" cellpadding="0" cellspacing="0" bgcolor="#226AAC">
  <tr>
    <td><img src="../E_img/xglm.jpg" alt="相关栏目" width="215" height="39"></td>
  </tr>
  <tr>
    <td align="center"><table width="75%" border="0" cellspacing="0" cellpadding="0">
        <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=20 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=20">科普文章</a></td>
  </tr>
    <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=21 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=21">疾病预防</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
  <tr>
    <td height="25" <%If ClassID=22 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=22">健康常识</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    <tr>
    <td height="25" <%If ClassID=23 Then%>class="Menu1"<%Else%>class="Menu"<%End if%> align="center"><a href="/Web/NewsMain.asp?ClassID=23">日常护理</a></td>
  </tr>
      <tr>
    <td height="1" background="../E_img/Dot1.jpg"></td>
  </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="215" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<%End Select%>
<table width="215" border="0" cellpadding="0" cellspacing="0" bgcolor="226AAC">
      <tr>
        <td><img src="../E_img/rightToLabel.jpg" alt="侧边栏" border="0" usemap="#Map"></td>
      </tr>
      <!--
      <tr>
        <td height="250" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="10"></td>
          </tr>
        </table>
          <table width="160" border="0" cellpadding="0" cellspacing="0" background="../E_img/img_bg.jpg">
          <%
Set Rsright = Server.CreateObject("ADODB.Recordset")
	SqlRsright="select top 1 ID,Title,Title1,ClassID,SortID,AddTime,ScopeID,Pictures from E_News where ClassID = 2  And Pictures <> '' order by SortID Asc,Id Desc"
Rsright.open SqlRsright,conn,1,1 
For iRs = 1 to Rsright.Recordcount
if Rsright.EOF then     
Exit For 
end if
%>
<% 
Rsright.movenext
next
Rsright.Close
Set Rsright = Nothing
%>
            <tr>
              <td height="62" align="center"><img src="../E_img/mainRightBar.jpg" width="150" height="50"></td>
            </tr>


          </table>
          <table width="160" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
          <table width="160" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="30"><a href="/Web/NewsMain.asp?ClassID=3"><img src="../E_img/Took_36.jpg" alt="院内公告" width="51" height="13"></a></td>
            </tr>
          </table>
<div id="mq" style="position:relative;left:0px;width:100%;height:44px;overflow:hidden;" onMouseOver="iScrollAmount=0" onMouseOut="iScrollAmount=1">
          <table width="160" border="0" cellspacing="0" cellpadding="0">
            <%
Set Rsright = Server.CreateObject("ADODB.Recordset")
	SqlRsright="select top 2 ID,Title,Title1,ClassID,SortID,AddTime from E_News where ClassID =3 order by SortID Asc,Id Desc"
Rsright.open SqlRsright,conn,1,1 
For iRsright = 1 to Rsright.Recordcount
if Rsright.EOF then     
Exit For 
end if
%>
            <tr>
              <td height="22" class="Gold"><a href="/Web/NewsShow.asp?ID=<%=Rsright("ID")%>" title="<%=Rsright("Title")%>" target="_blank"><%=StrLeft(Rsright("Title"),24)%></a></td>
            </tr>
<% 
Rsright.movenext
next
Rsright.Close
Set Rsright = Nothing
%>
          </table>
          </div>
<script language="javascript" src="../E_Scripts/Index_Mar.js"></script>
          <table width="160" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
          <table width="160" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="10"><a href="http://www.gsyygh.com/arweb/table.jsp?hospital=gssey" target="_blank"><img src="../E_img/yygh.jpg" width="80" height="28" alt="预约挂号"></a></td>
              <td><a href="/Web/Aboutus.asp?ID=2"><img src="../E_img/Took_41.jpg" alt="医院电话" width="83" height="28"></a></td>
            </tr>
            <tr>
              <td height="10"><a href="Mailto:banrong@sina.com"><img src="../E_img/Took_42.jpg" alt="院长信箱" width="80" height="28"></a></td>
              <td><a href="/Web/MessageList.asp"><img src="../E_img/Took_43.jpg" alt="意见建议" width="83" height="28"></a></td>
            </tr>
            <tr>
              <td height="10"><img src="../E_img/Took_44.jpg" alt="网上会诊" width="80" height="27"></td>
              <td><a href="/Web/Aboutus.asp?ID=3"><img src="../E_img/Took_45.jpg" alt="就医环境" width="83" height="27"></a></td>
            </tr>
          </table></td>
      </tr>
    -->
<tr>
        <td><%If default =1 Then%><img src="../E_img/Took_46.jpg" width="215" height="28"><%Else%><img src="../E_img/Right.jpg"><%End if%></td>
      </tr>
</table>

<map name="Map" id="Map">
  <area shape="rect" coords="48,236,103,254" href="Mailto:banrong@sina.com" alt="院长信箱" />
  <area shape="rect" coords="111,236,164,256" href="/Web/MessageList.asp" alt="意见建议" />
  <area shape="rect" coords="48,260,105,279" href="/Web/Aboutus.asp?ID=2" alt="医院电话" />
  <area shape="rect" coords="109,261,165,281" href="/Web/Aboutus.asp?ID=3" alt="就医环境" />
  <area shape="rect" coords="30,155,186,206" href="http://mfyz.gssey.com/" target="_blank" alt="甘肃省毛发移植中心" />
</map>
